@page "/product"
<div class="Product" style ="display: grid; grid-template-columns: 1fr 1fr 1fr ; grid-gap: 1.5em;">
                <div class="product1">
                    <img  src="/image/Product/product1.jpg"
                    <div class="i-desc">
                        <div class="i-title" style ="padding:20px 15px 20px 15px;">
                            <h3><a href="/vn/cong-nghe-cao.html" tabindex="0">CÔNG NGHỆ CAO</a></h3>
                        </div>
                    </div>
                </div>
</div>

@code {

}
