@page "/information"

    <!--About-------------------------------------------------------------------------------------------------------------------->

  <div class="mytabs" style = "justify-content:center">
    <input type="radio" id="tabfree" name="mytabs" checked="checked">
    <label for="tabfree">About</label>
    <div class="tab">
        <div class="contents1" style ="padding-top:70px">
            <div class="about">
                <div class ="heading"style ="padding-bottom:55px">
                    <h2 style="margin-bottom:5px">VỀ CÔNG TY</h2>
                    <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
                </div>
                <div class ="image">
                    <img style ="width:500px" src="/image/Information/ceo.jpg">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p><span style="color:#ff0000;">
                            <span style="font-size:22px;">
                                <strong>Th.S&nbsp;NGUYỄN BÁ TÚ</strong>
                            </span>
                        </span>
                    </p>

                    <div>

                    <div class="name"><span>Tổng Giám đốc - Người sáng lập MBA</span></div>

                    <div class="name1">
                    <div><span style="color:#ff0000;">Let’s Grow Together!</span></div>

                    <div><span style="color:#ff0000;">Cùng đến thành công!</span></div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="text" style="padding:70px; padding-left:170px; background-color:rgb(245, 245, 245)">
                <span style="margin-bottom:15px">MBA International JSC</span>
                <h2 style="margin-bottom:25px">CÔNG TY CỔ PHẦN QUỐC TẾ MBA</h2>
                <p style="margin-bottom:15px">Công ty CP Quốc tế MBA là nhà sản xuất và phân phối hàng đầu các giải pháp toàn diện cho ngành Giáo Dục – Y Tế - Công Nghệ Cao. Với hơn 17&nbsp;năm kinh nghiệm, MBA tự hào với đội ngũ nhân viên giàu kinh nghiệm, nhiệt huyết và chuyên nghiệp, luôn mang đến cho khách hàng những trải nghiệm tốt nhất về sản phẩm và dịch vụ chính hãng. Với &nbsp;xu hướng phát triển không ngừng của ngành khoa học thông tin và cách mạng công nghiệp 4.0, nhằm đáp ứng nhu cầu ngày càng cao của khách hàng trong việc trang bị các thiết bị điện tử và các giải pháp công nghệ, Công Ty Cổ Phần Quốc Tế MBA đã mang đến cho Quý khách hàng những sản phẩm hiện đại nhất của các hãng nổi tiếng trên thị trường&nbsp;</p>
                <p style="margin-bottom:15px">Bên cạnh đó ngoài chức năng phân phối, MBA cũng là đại diện bảo hành, bảo trì, sữa chữa và thực hiện các dịch vụ sau bán hàng của các đối tác nói trên nhằm cung cấp giải pháp toàn diện, hiệu quả cho khách hàng khi sử dụng sản phẩm MBA phân phối với đội kỹ thuật viên giàu kinh nghiệm, linh kiện thay thế chính hãng và giá cả hợp lý.</p>
            </div>
        </div>

    </div>

    <!--Vision-------------------------------------------------------------------------------------------------------------------->
    <input type="radio" id="tabsilver" name="mytabs">
    <label for="tabsilver">Vision</label>
    <div class="tab" style ="padding-left:20px; padding-right:20px">
        <div class="content2" style ="padding-top:70px">
            <div class ="heading"style ="padding-bottom:55px">
                <h2 style="margin-bottom:5px">TẦM NHÌN - SỨ MỆNH</h2>
                <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
            </div>
            <div class ="body" style ="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em;">
                <div class ="text" style ="padding:50px 60px 50px 60px">
                        <h2>Tầm nhìn thương hiệu</h2>

                        <p>MBA International Corporation luôn hướng tới mục tiêu duy trì vị trí thương hiệu hàng đầu tại Việt Nam trong lĩnh vực phân phối các Thiết bị Giáo dục –&nbsp;Y tế – Công nghệ cao.</p>
                </div>
                 <div class ="image">
                        <img src="/image/Information/vision1.jpg" />
                </div>
                 <div class ="text" style ="padding:50px 60px 50px 60px">
                        <h2>Sứ mệnh</h2>

                        <p>Với tôn chỉ " Let's Grow Together! - Cùng đến thành công !", Công ty CP Quốc Tế MBA luôn hướng tới sự phát triển bền vững không chỉ cho doanh nghiệp mà còn cho cộng đồng bằng cam kết mang những sản phẩm ngành Giáo Dục - Y Tế - Công Nghệ Cao chất lượng hàng đầu Thế giới với giá cả cạnh tranh nhất đến đông đảo Quý khách hàng.</p>
                </div>
                 <div class ="image">
                     <img src="/image/Information/vision2.jpg" />
                </div>
            </div>
        </div>

    </div>

    <!--History-------------------------------------------------------------------------------------------------------------------->
    <input type="radio" id="tabgold" name="mytabs">
    <label for="tabgold">History</label>
    <div class="tab" style ="padding-left:20px; padding-right:20px">
        <div class="content2" style ="padding-top:70px">
            <div class ="heading"style ="padding-bottom:55px">
                <h2 style="margin-bottom:5px">LỊCH SỬ HÌNH THÀNH</h2>
                <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
            </div>
            <div class="image">
                <img src="/image/Information/history.jpg"
            </div>
        </div>

    </div>
    
    <!--CEO-------------------------------------------------------------------------------------------------------------------->
    <input type="radio" id="tabceo" name="mytabs">
    <label for="tabceo">CEO</label>
    <div class="tab" style ="padding-left:20px; padding-right:20px">
        <div class="content2" style ="padding-top:70px">
            <div class ="heading"style ="padding-bottom:55px">
                <h2 style="margin-bottom:5px">BAN LÃNH ĐẠO</h2>
                <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
            </div>
            <div class="ceo" style ="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-gap: 1.5em;">
                <div class="ceo1">
                    <img src="/image/Information/ceo1.jpg"
                    <div class="i-desc">
                        <div class="i-title">
                            <h3><a href="#" tabindex="0">MR NGUYỄN TRÍ ĐĂNG</a></h3>
                        </div>
                        <div class="i-content">TRỢ LÝ TỔNG GIÁM ĐỐC</div>
                    </div>
                </div>

                <div class="ceo2">
                    <img src="/image/Information/ceo2.jpg"
                    <div class="i-desc">
                        <div class="i-title">
                            <h3><a href="#" tabindex="0">MR NGUYỄN TRÍ ĐĂNG</a></h3>
                        </div>
                        <div class="i-content">TRỢ LÝ TỔNG GIÁM ĐỐC</div>
                    </div>
                </div>

                <div class="ceo3">
                    <img src="/image/Information/ceo3.jpg"
                    <div class="i-desc">
                        <div class="i-title">
                            <h3><a href="#" tabindex="0">MR NGUYỄN TRÍ ĐĂNG</a></h3>
                        </div>
                        <div class="i-content">TRỢ LÝ TỔNG GIÁM ĐỐC</div>
                    </div>
                </div>

                <div class="ceo4">
                    <img src="/image/Information/ceo4.jpg"
                    <div class="i-desc">
                        <div class="i-title">
                            <h3><a href="#" tabindex="0">MR NGUYỄN TRÍ ĐĂNG</a></h3>
                        </div>
                        <div class="i-content">TRỢ LÝ TỔNG GIÁM ĐỐC</div>
                    </div>
                </div>

                <div class="ceo5">
                    <img src="/image/Information/ceo5.jpg"
                    <div class="i-desc">
                        <div class="i-title">
                            <h3><a href="#" tabindex="0">MR NGUYỄN TRÍ ĐĂNG</a></h3>
                        </div>
                        <div class="i-content">TRỢ LÝ TỔNG GIÁM ĐỐC</div>
                    </div>
                </div>


            </div>
        </div>

    </div>


  </div>


