@page "/product/{Id:int}/{productName}"
@using Core.Models.Entity;
@using Core.Models.Repository;
@inject IProductDetailRepo _productDetailRepo;
<div class ="detail" style="padding: 15px 15px 0 15px; margin-bottom:60px; display: grid; grid-template-columns: 1fr 1fr; background: #f5f5f5;">
		<div class ="image" style="padding:0 15px 0 15px; display: flex; justify-content: center;">
			<img style ="max-width:500px; max-height:333px" src="@_productDetail.ImageUrl" />
		</div>

		<div class ="Information" style="padding:0 15px 0 15px;">
			<div class ="detail" style="15px 35px;background: #fff">
				<div class="title"><h1>@_productDetail.Name</h1></div>
				<div class="ms">
					<div>Mã số : <strong>@_productDetail.Code</strong></div>
					<div>Tình trạng  : <span class="in_stock">@_productDetail.Status</span></div>
				</div>
				<div class="gird_intro">
				<div class="f-share">
						<span>Chia sẻ:</span>
						<div class="ds_share">
							<ul>
								<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://mba.com.vn/vn/cong-nghe-thong-tin.html" target="_blank" style="background-color: #3b5998;"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="https://plus.google.com/share?url=http://mba.com.vn/vn/cong-nghe-thong-tin.html" target="_blank" style="background-color: #dc4e41;"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://twitter.com/intent/tweet?source=webclient&amp;text=http://mba.com.vn/vn/cong-nghe-thong-tin.html" target="_blank" style="background-color: #1da1f2;"><i class="fa fa-twitter"></i></a></li>
								<li><a href="http://pinterest.com/pin/create/button/?url=http://mba.com.vn/vn/cong-nghe-thong-tin.html" target="_blank" style="background-color: #cb2027;"><i class="fa fa-pinterest-p"></i></a></li>
							</ul>
						</div>
						<a href="/vn/lien-he.html" class="lh"><span>Đặt hàng</span></a>
					</div>
				</div>
			</div>
		</div>
	
</div>
@code {

	[Parameter]
	public string productName { get; set; }

	[Parameter]
	public int Id { get; set; }

	ProductDetail _productDetail = new ProductDetail();

	protected override async Task OnInitializedAsync()
	{
		_productDetail = await _productDetailRepo.GetProductDetailByIdAsync(Id);
	}

}
